.component > .graph{
    display: block;
    padding: 24px 23px;
    margin-top: 24px;
    border-radius: 8px;
    border: 1px solid var(--border-200);
    width:890px;
    height:420px;
}

.pdf{
    overflow: scroll;
    width: 1000px;
}

@media print {
    .component{
        break-inside: avoid;
    }
}

@page{
    size: A4;
}

#content {
    display: table;
}

#pageFooter {
    display: table-footer-group;
    counter-increment: page;
}

#pageFooter:after {
    content: counter(page);
}

.body{
    display: table-row-group;
}